[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/env emacs --daemon
ExecStop=/usr/bin/env emacsclient --eval "(kill-emacs)"
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
