[Unit]
Description=GNU Emacs: the extensible, self-documenting text editor
Documentation=man:emacs(1) info:Emacs

[Service]
#Type=forking
Type=simple
ExecStart=/usr/bin/env emacs --daemon
#ExecStart=/usr/bin/env emacs --new-daemon
#ExecStop=/usr/bin/env emacsclient --eval "(kill-emacs)"
ExecStop=/usr/bin/env emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
